<div class="centered-content">
  <div class="modal-box">

    <h1 class="title">
      Edit Item
    </h1>

    <div class="row">
      <input #itemNameInput class="input has-background-light is-medium row-item" type="text" [value]="itemInfo.name">
      <input #itemPriceInput class="input has-background-light is-medium row-item" type="number" [value]="itemInfo.price">
    </div>

    <br><br>

    <div class="buttons is-right">
      <button class="button is-medium" [routerLink]="['/activities', this.activityID, 'edit-activity']">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="updateItem(itemNameInput.value, itemPriceInput.value)">Update</button>
    </div>

  </div>
</div>
