<div class="centered-content">
  <div class="modal-box">

    <h1 class="title">
      Update this activity
    </h1>

    <form [formGroup]="activityForm">

      <div class="row">
        <input formControlName="title" class="input has-background-light is-medium row-item" [readonly]="true"/>
        <button class="button row-item" (click)="editName()">
          <div class="icon">
            <i class="fas fa-edit"></i>
          </div>
        </button>
      </div>

      <hr>

      <div formArrayName="items">

        <div *ngFor="let item of items.controls; let pointIndex=index" [formGroupName]="pointIndex">
          <div class="row">

            <input class="input has-background-light is-medium row-item" formControlName="name" [readonly]="true"/>
            <input class="input has-background-light is-medium row-item" formControlName="price" [readonly]="true"/>


            <button class="button row-item" (click)="editItem(item.value.id)">
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>

            <button class="button is-danger row-item" (click)="deleteItem(pointIndex)">
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>

          </div>
        </div>

        <button class="button is-centered add" (click)="addItem()">
          <h1>Add another item</h1>
        </button>

      </div>

    </form>
    <br>

    <div class="buttons is-right">
      <button class="button is-primary has-text-white is-medium" [routerLink]="['/activities', activityID]">Finish</button>
    </div>

    <!--{{ this.activityForm.value | json }}-->


  </div>
</div>
